#logo {
    font-size: large;
    color: black;
    margin-right: 100px;
}

.nav-items {
    list-style: none;
    margin: 0 auto;
}

.nav-item {
    display: inline-block;
    height: 80px;
    padding: 0 10px;
    text-align: center;
    min-width: 80px;
    margin: 0 10px;
    line-height: 80px;
}

.nav-item > a {
    font-size: small;
    text-decoration: none;
    color: darkgray;
}